<div class="navbar navbar-default">
  <div class="container">
    <div class="col-xs-12">
    <div class="navbar-header">
      <%= link_to "一pie即合", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <% if signed_in? %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Inbox", microposts_path %></li>
            <li class="dropdown" id="fat-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Message Sent", current_user %></li>
                <li><%= link_to "Setting", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", signout_path, method: "delete" %></li>
              </ul>
            </li>
          </ul>
      </div>
    <% else %>

          <%= form_tag sessions_path, class: "navbar-form navbar-right", role: "form" do %>
            <div class="form-group">
              <%= text_field_tag :email, params[:email], placeholder: "Email", class: "form-control"%>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, params[:password], placeholder: "Password", class: "form-control" %>   
            </div>
              <%= button_tag "Login", class: "btn btn-default", id: "login_btn" %>
          <% end %>
    <% end %> 
    </div>          
  </div>
</div>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
   -->